@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 10px !important;
}

::-webkit-scrollbar-thumb {
  background:  #bbb9b9;
  border-radius: 99px;
  margin-right: 6px;
  margin-left: 6px;
}

.mb-\[30px\] {
  margin-bottom: 30px;
}

.pt-\[50px\] {
  padding-top: 50px;
}

.py-\[11px\] {
  padding-top: 11px;
  padding-bottom: 11px;
}

.\!gap-y-10 {
  row-gap: 2.5rem/* 40px */ !important;
}

.\!flex-row{
  flex-direction: row !important;
}

.hide-password {
  display: inline-block;
  position: absolute;
	text-decoration: none;
  /* justify-content: center; */
  /* align-items: center; */
  right: 0;
  padding-top: 36px;
  padding-left: 20px;
  padding-right: 35px;
  /* border-left: 1px solid #d2d8d8; */
  /* top: 62.5%; */
  bottom: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px;
  font-size: 0.875rem;
  color: #343642;
}

/* checkbox button REMEMBER ME */
.ease-soft-in-out {
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.after\:rounded-circle::after {
  content: var(--tw-content);
  border-radius: 50%;
}

/* .before\:shadow-soft-2xl::before {

} */

.after\:shadow-soft-2xl::after {
  content: var(--tw-content);
  --tw-shadow: 0 .3125rem .625rem 0 rgba(0,0,0,.12);
  --tw-shadow-colored: 0 .3125rem .625rem 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.after\:duration-250::after {
  content: var(--tw-content);
  transition-duration: 250ms;
}

.checked\:after\:translate-x-5\.25:checked::after {
  content: var(--tw-content);
  --tw-translate-x: 1.3125rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

/* checkbox button REMEMBER ME */


.card{
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border-radius: 26px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 1.5rem;
}

@media (min-width: 768px){
  .card{
    max-width: 500px;
  }
}

.form-group::before, 
    .form-group::after {
  display: none;
}

.form-group{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-field{
  border-radius: 100px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(18 31 62 / var(--tw-text-opacity));
  outline-style: solid;
  outline-width: 1.4px;
  outline-color: #121F3E;
}

.input-field::-moz-placeholder{
  --tw-text-opacity: 1;
  color: rgb(171 179 196 / var(--tw-text-opacity));
}

.input-field::placeholder{
  --tw-text-opacity: 1;
  color: rgb(171 179 196 / var(--tw-text-opacity));
}

.input-field:focus{
  outline-color: #4640DE;
}